body {
  background-image: url('../Images/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 10px;
  margin: 10px;
}

img {
  border-radius: 10%;
}

a {
  margin: 10px;
}

li {
  color: blue;
  font-weight: bold;
}
h1{
  font-family: serif;
  color: #440a67;
}

h2, h3 {
  color: #440a67;
  float: left;
  margin: 30px;
}

hr{
  background-color: white;
  /* border-style: none; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  float: left;
  width: auto;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.Skills,
.Education {
  display: flex;
  align-items: center;
  justify-content: center;
}

table,
th,
td {
  padding: 10px;
  margin: 20px;
  /* border: 2px solid black;
  border-collapse: collapse; */
}

th,
td {
  padding: 5px;
}
